.normal {
  height: 50px;
  width: 50px;
  background-color: #C44E4F;
  border-radius: 5px;
}

.big {
  height: 100px;
  width: 100px;
  background-color: #C44E4F;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 500px;
}