.dropdown {
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow:
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
    list-style: none;
    max-height: 256px;
    overflow-y: auto;
    padding: 0;
    margin: 1px 0;
    width: 100%;
    color: black;
    z-index: 1;
}
