.container {
  max-width: 50%;
  margin-right: 2rem;
}

.child {
  margin-left: 1rem;
  margin-top: 1rem;
}

.text {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  font-size: 0.90rem;
}

.disableChild {
  margin-left: 1rem;
  margin-top: 1rem;
  opacity: 0.5;
  pointer-events: none;
}