.card {
  --black-color: #101010;
  background-color: #ececec;
  border-radius: 0.5rem;
  color: var(--black-color);
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;

  .cardContent {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  }

  .cardHeader {
    border-bottom: 1px solid var(--black-color);
  }
}