.card {
  border-radius: 5px;
  width: fit-content;
  border: 1px solid #5e5e5e;
  background-color: #2e2e2e;
  color: white;
}

.content {
  padding: 1rem;
}

.titleContainer {
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  margin-top: 0.80rem;
  display: flex;
  flex-direction: column;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #5e5e5e;
}

.titleText {
  margin: 0.80rem;
  font-weight: bold;
}