.option {
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

    &.selected {
        background-color: #e6f4ff;
        font-weight: 600;
    }
}
