.filesContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;

  button {
    &:first-of-type {
      border-radius: 5px 0 0 0;
    }

    &:last-of-type {
      border-radius: 0 5px 0 0;
    }
  }

  .file {
    padding: 0 0.2rem;

    flex: 0 1 auto;
    min-width: 40px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: flex-shrink 0.3s ease;
  }

  .active {
    flex-shrink: 0;
    background-color: #8abad3;
    border: 2px solid #0b78b1;
  }
}