.modal {
  :global {
    .ant-modal-content {
      max-height: 80vh;
      overflow-y: auto;
      margin: 0 1rem;
    }
  }
}

.backgroundInteraction {
      pointer-events: none !important;
}

.resizable {
  :global {
    .ant-modal-content {
      resize: both;
      overflow: auto;
    }
  }
}