.container {
  border: 1px solid red;
  padding: 1rem;
  width: fit-content;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border-top: solid 1px orange;
    width: 50%;
    top:0;
    left:50%;
  }
}