.modal {
  :global {
    .ant-modal {
      width: fit-content;
    }
  }
  .ant-modal-mask {
    background: transparent;
    pointer-events: none;
  }
}

.modalResize {
  :global {
    .ant-modal {
      width: fit-content;
    }
    .ant-modal-mask {
      background: transparent;
      pointer-events: none;
    }

    .ant-modal-content {
      resize: both;
      overflow: auto;
    }
  }
}