:root {
  font-family: monospace, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.05px;
  overflow: auto;
  color: white;
}

@layer reset, base, tokens, recipes, utilities;