.label {
  --selected: 0;
  width: calc(30px + (var(--selected) * 20px));
  height: fit-content;
  background-color: #1ea7fd;
  cursor: pointer;
}

.label:hover {
  --selected: 1;
}


.hasSelector {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #858484;
}

.hasSelector:has(div) {
  border: 1px solid orange;
}