.cell {
  flex-grow: 1;
  transition: flex-grow 0.2s linear;

  &:hover {
    flex-grow: 2;
  }

  border: 1px solid gray;
}

.containerCell {
  display: flex;
  width: 50vw;
  height: 50px;
}

.starting {
  margin: 1rem 0;
  width: fit-content;
  height: fit-content;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  background-color: darkseagreen;
  opacity: 1;
  transition: translate 1s, opacity 1s;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 10px;
  }
}

.bigContainer {
  color-scheme: light dark;
  color: light-dark(black, white);
  background-color: light-dark(white, black);
  border: 1px solid mediumvioletred;
  padding: 5px 5px;

  &:has(#light:checked) {
    color-scheme: light;
    border-radius: 10px;
  }

  &:has(#dark:checked) {
    color-scheme: dark;
  }

  label {
    input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
    padding: 5px;
    &:has(input:checked) {
      box-shadow: inset 0 0 8px 0 #888;
    }
    cursor: pointer;
    background: #0002;
  }
}

.label {
  --selected: 0;
  width: calc(30px + (var(--selected) * 20px));
  height: fit-content;
  background-color: #1ea7fd;
  cursor: pointer;
}

.label:hover {
  --selected: 1;
}


.hasSelector {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #858484;
}

.hasSelector:has(div) {
  border: 1px solid orange;
}


.custom-container {
  position: relative;
  z-index: 20;
  overflow: hidden;
  border-radius: 20px;
  height: 100px;
  width: 500px;
}

.custom-content {
  background: linear-gradient(#ffffff, #e0e0e0) padding-box transparent;
  padding: 0 1.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
  text-align: center;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #e0e0e0;
  border-radius: 20px;
}

.trail {
  width: 100px;
  aspect-ratio: 2 / 1;
  position: absolute;
  background: radial-gradient(100% 100% at right, #8abad3, transparent 50%);
  offset-path: border-box;
  offset-anchor: 100% 50%;
  animation: journey var(--speed, 6s) infinite linear;
}

@keyframes journey {
  to {
    offset-distance: 100%;
  }
}

.scrollAppearance {
  animation-fill-mode: both;
  animation-name: list-item-scroll-effect;
  view-timeline-name: --list-item-timeline;
  animation-timeline: --list-item-timeline;
  animation-range: entry 25% cover 50%;
  color: white;
}

.scrollDisapear {
  animation-fill-mode: both;
  animation-name: hero-scroll-effect;
  view-timeline-name: --list-item-timeline;
  animation-timeline: --list-item-timeline;
  animation-range: exit -25%;
  color: white;
}

@keyframes hero-scroll-effect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
     opacity: 0;
     transform: scale(0.9) translateY(10vh);
   }
}

@keyframes list-item-scroll-effect {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
}